body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    overflow-y: hidden;
}

.hidden {
  display: none;
}

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-height: 0
}

/* Toolbar styles */

.toolbar {
    height: 50px;
    background: #df4646;
    border-bottom: 1px solid #d9d9d9;
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 8px;
    flex: none;
}

.toolbar-button {
    height: 35px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 12px;
    border-radius: 5px;
    border: none;
    color: #e5e5e5;
    cursor: pointer;
    font-size: 14px;
    white-space: nowrap;
    background: transparent;
}

.toolbar-button:hover {
    background: #1111111e
}

.toolbar-divider {
    width: 1px;
    height: 25px;
    background: #d9d9d9;
    margin: 0 4px;
}

.toolbar-left {
    display:flex;
    align-items: center;
}

.toolbar-right {
    margin-left: auto;
    display:flex;
    align-items: center;
}

/* Edit mode toggle switch */

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
  margin-right: 8px;
  margin-left: 8px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cccccc;
  border-radius: 20px;
  transition: background-color 0.25s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 2px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: transform 0.25s;
}

input:checked + .slider {
  background-color: #e3d74e;
}

input:checked + .slider::before {
  transform: translateX(26px);
}

.edit-mode-switch-label {
  font-size: 14px;
  color: #e5e5e5;
  margin-right: 8px;
  user-select: none;
}

/* Edit mode styles */

.edit-mode-content {
    background: #f4f5f7;
    padding: 12px;
    display: flex;
    flex: 1;
    gap: 12px;
    min-height: 0
}

.editor-content {
    width: 320px;
    background: #f9f9f9;
    padding: 15px;
    overflow-y: auto;
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin: 0;
}

.editor {
    flex-direction: column;
    display: flex;
    min-height: 0;
    flex: 1;
}

.app-preview {
    background: #ffffff;
    display: flex;
    flex: 1;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.app-preview-content {
    flex: 1;
    overflow: auto;
    padding: 8px;
}

/* App builder styles */

.component {
  padding: 10px;
  background: white;
}

.editor-component {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 6px 0px;
  background: white;
  cursor: pointer;
}

.editor-component:hover {
  background: #eef6ff;
  border-color: #007bff;
}

.selected {
  outline: 2px solid #007bff;
}

.container {
  border: 1px dashed #999;
}

.horizontal {
  display: flex;
  gap: 10px;
}

.insert-bar {
  text-align: center;
  cursor: pointer;
  color: #007bff;
  font-size: 30px;
  width:90%;
  margin:auto;
  background: #ffffff00;
}

.insert-bar:hover {
  background: #eef6ffff;
}

input, select {
  width: 100%;
  margin-bottom: 8px;
  padding: 4px;
}

.number-input {
  width: 15%;
  margin-bottom: 8px;
  padding: 4px;
}

.center-align {
  margin: auto;
}

.right-align {
  margin-left: auto;
}

.left-align {
  margin-right: auto;
}

#overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.3);
}

#overlay-component-select {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.3);
  pointer-events: none;
}

/* Add component menu */

#modal {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 20px;
  border: 1px solid #cccccc;
  overflow-y: auto;
}

/* Events modal */

.modal-events {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background: #f9f9f9;
  padding: 20px;
  border: 2px solid #cccccc;
  border-radius: 4px;
  width: 60%;
  height: 70%;
}

.overlay-events {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.3);
}

/* Settings modal*/

#overlay-settings {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.3);
}

#modal-settings {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background: #f9f9f9;
  border: 2px solid #aaaaaa;
  border-radius: 6px;
  width: 40%;
  height: 70%;
}

#settings-header {
  height: 50px;
  background: #df4646;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  align-items: center;
  padding: 0 10px;
  gap: 8px;
  flex: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #e5e5e5;
}

#settings-content {
  padding: 20px;
  overflow-y: auto;
  scrollbar-gutter: stable;
  height: 80%;
}

#settings-content details {
  margin-bottom: 15px;
}

#settings-content details summary {
  font-size: 20px;
  cursor: pointer;
  padding-bottom: 5px;
  user-select: none;
}

#settings-content details > div {
  margin-left: 15px;
}

.settings-item {
  display: flex;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.settings-item label {
  font-size: 16px;
  min-width: 300px;
}

.settings-input {
  border: 2px solid #bbbbbb;
  border-radius: 4px;
  padding: 6px;
  min-width: 200px;
  font-size: 14px;
  margin-left: auto;
  margin-right: 15px;
  margin-bottom: 0px;
  background: #f9f9f9;
}

.settings-event-list {
  width: 70%;
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 2px solid #bbbbbb;
  border-radius: 4px;
  justify-self: center;
  background: #ffffff;
  margin-top: 10px;
}

.settings-events {
  font-size: 18px;
  padding: 5px;
}